body {
  background-color: #EA899A;
  display: grid;
  grid-template-rows: 120px 1fr;
  padding: 0px;
  margin: 0px;
}

.navbar{
  grid-row: 1;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  font-size: 24pt;
  color: #FDFDFD;
  text-align: center;
  align-items: center;
  background-color: #D36E70;
  padding: 0px;
  margin: 0px;
}

#header-inner {
  display: none;
}

#b-navbar, #b-navbar-fg {
  display: none;
}

#Attribution1 {
  display: none;
}
